<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load submission %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "lib/bootstrap/4.5.3/bootstrap.min.css" %}">

    <!-- Bootstrap JS -->
    <script src="{% static "lib/jquery/3.5.1/jquery-3.5.1.min.js" %}"></script>
    <script src="{% static "lib/bootstrap/4.5.3/bootstrap.bundle.min.js" %}"></script>

    <title>FOSDEM Stands Submissions</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "submission/style/fosdem.css" %}">
</head>
<body>
<div class="container">
    <div class="row mb-4 px-4 py-4" id="header">
        <div class="col-2">
            <img src="{% static "submission/fosdem24.png" %}" alt="FOSDEM 24 logo"/>
        </div>
        <div class="col text-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://fosdem.org/{{ edition }}/">Home</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/{{ edition }}/about/">About</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/{{ edition }}/news/">News</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/{{ edition }}/schedule/">Schedule</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/{{ edition }}/stands/">Stands</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/{{ edition }}/volunteer/">Volunteer</a></li>
                <li class="list-inline-item"><a href="https://fosdem.org/{{ edition }}/practical/">Practical</a></li>
            </ul>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
<div class="container-fluid mt-4" id="footer">
    <div class="row justify-content-center px-4 pt-4 mx-4 mt-4">
        <div class="col-2">
            <h3>FOSDEM</h3>
            <ul class="list-unstyled">
                <li class="home"><a accesskey="1" href="https://fosdem.org/{{ edition }}/">Home</a></li>
                <li><a accesskey="2" href="https://fosdem.org/{{ edition }}/news/">News</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/about/">About</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/about/sponsors/">Sponsors</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/support/donate/">Donate</a></li>
                <li><a accesskey="5" href="https://fosdem.org/{{ edition }}/faq/">FAQ</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/archives/">Archives</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h3>This year</h3>
            <ul class="list-unstyled">
                <li><a accesskey="s" href="https://fosdem.org/{{ edition }}/schedule/">Schedule</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/stands/">Stands</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/volunteer/">Volunteer</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/fringe/">Fringe</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h3>Practical information</h3>
            <ul class="list-unstyled">
                <li><a href="https://fosdem.org/{{ edition }}/practical/accessibility/">Accessibility</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/practical/conduct/">Code of Conduct</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/practical/services/">During the Event</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/practical/jobcorner/">Job Corner</a></li>
            </ul>
        </div>
        <div class="col-2">
            <h3>Media and press</h3>
            <ul class="list-unstyled">
                <li><a href="https://fosdem.org/{{ edition }}/interviews/">Interviews</a></li>
                <li><a href="https://fosdem.org/{{ edition }}/social/">Social media</a></li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center px-4 mx-4">
        <div class="col-8">
            <div class="media">
                <img src="{% static "submission/cogweel.png" %}" alt="FOSDEM logo" class="mr-3"/>
                <div class="media-body pt-2">
                    <img src="{% static "submission/fosdem24_bw.png" %}" alt="FOSDEM 24 logo"/>
                    <p class="mt-2">Online / <strong>3 & 4 February 2024</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center px-4 mx-4 mt-4" id="license">
        <div class="col-8">
            <div class="media">
                <img src="{% static "submission/cclogo.png" %}" alt="cc-by-be logo" class="mr-3"/>
                <div class="media-body" id="license-text">
                    <p>
                        This work is licensed under the Creative Commons Attribution 2.0 Belgium Licence.
                        To view a copy of this licence, visit http://creativecommons.org/licenses/by/2.0/be/deed.en
                        or send a letter to Creative Commons, 444 Castro Street, Suite 900, Mountain View, California,
                        94041,
                        USA.
                        All content such as talks and biographies is the sole responsibility of the speaker.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
