{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid" id="stands-header">
        <div class="row mb-4 justify-content-center px-4 mx-4">
            <div class="col-8 p-2">
                <h1>FOSDEM 2021 Stands Submission</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-primary" role="alert">
                    <p>The deadline for submissions is the <b>25th of December</b>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    FOSDEM 2021 is not going to be the same as FOSDEM 2020 but we still wish to provide free and open
                    source
                    projects the opportunity to display their work and interact with the wider free and open source
                    community.
                </p>
                <p>
                    As this edition is completely different from the ones before, the stands process has undergone some
                    changes.
                </p>
                <p>
                    We offer you:
                </p>
                <ol>
                    <li>A position on a special stands website (active during the event) for you to introduce your
                        project.
                        We will organise the stands per theme.
                    </li>
                    <li>Hosting for a webpage and several short videos where you can introduce
                        and demonstrate your project and show people the latest features,
                        discuss your roadmap etc.
                    </li>
                    <li>A chatroom facility to allow visitors to interact with you.
                        (Details will be confirmed closer to the event.)
                    </li>
                </ol>
                <p>
                    To get this organised, we'll require some extra information from you in your submission, and
                    possible
                    also during the preparation of the conference. More specifically, you'll have to provide:
                </p>
                <ol>
                    <li>An introduction (aim for around 10 lines) of your project.</li>
                    <li>An overview (aim for around 15 lines) of the "hot new thing" in your project, or what we can
                        expect
                        from you next year.
                    </li>
                </ol>
                <p>
                    Both of these will be used for the overview page of the website. You'll still be
                    able to
                    write whatever you like in your corner of the website, this is only intended for the overview and
                    table
                    of contents.
                </p>
            </div>
        </div>
        {% block form %}
        {% endblock %}
    </div>
{% endblock %}