{% extends "submission/base.html" %}
{% load static %}
{% load submission %}
{% block content %}
    <div class="row" id="submission-form">
        <div class="col">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% if not field.is_hidden %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field | add_css_class:"form-control" }}
                        </div>
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}