{% extends "submission/base.html" %}
{% load static %}
{% load submission %}
{% block form %}
    <div class="row" id="submission-form">
        <div class="col">
            {% if failed %}
            <div class="alert alert-danger" role="alert">
                Could not process your submission: it seems some fields are not quite correct.
            </div>
            {% endif %}
            <form action="{% url 'received' %}" method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="invalid-feedback" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% if not field.is_hidden %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.errors %}
                            {{ field | add_css_class:"form-control is-invalid" }}
                            {% for error in field.errors %}
                                <div class="invalid-feedback" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                            {% else %}
                            {{ field | add_css_class:"form-control" }}
                            {% endif %}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}