{% extends "standsreview/base.html" %}
{% load static %}
{% load submission %}
{% block form %}
    <div class="row" id="login-form">
        <div class="col">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% if not field.is_hidden %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field | add_css_class:"form-control" }}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <input type="submit" value="Log in"/>
            </form>
        </div>
    </div>
{% endblock %}