{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/datatables.min.css"/>

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/datatables.min.js"></script>
    <!-- Custom scripts -->
    <div class="container-fluid" id="stands-header">
        <div class="row mb-4 justify-content-center px-4 mx-4">
            <div class="col-8 p-2">
                <h1>FOSDEM 2021 Stands Review</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col">
                <table id="review-table" class="table">
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Description</th>
                        <th>Why I want to be at FOSDEM</th>
                        <th>Review</th>
                        <th>Score</th>
                        <th>Total score</th>
                        <th>Accepted</th>
                        <th>More details</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}