{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <!-- Datatables -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'standsreview/css/lib/datatables.min.css' %}"/>

    <script type="text/javascript"
            src="{% static 'standsreview/js/lib/datatables.min.js' %}"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="{% static 'standsreview/js/review.js' %}"></script>
    <div class="container-fluid" id="stands-header">
        <div class="row mb-4 justify-content-center px-4 mx-4">
            <div class="col-8 p-2">
                <h1>FOSDEM 2021 Stands Review</h1>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-2">
            <div class="col">
                <table id="review-table" class="table">
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Description</th>
                        <th>Why I want to be at FOSDEM</th>
                        <th>Review</th>
                        <th>Score</th>
                        <th>Total score</th>
                        <th>Accepted</th>
                        <th>More details</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}